<div id="<%= dom_id message %>">
  <p>
    <strong>Published at:</strong>
    <%= message.published_at %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= message.sender %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= message.context %>
  </p>

</div>
